
.transit {
    transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, transform 1s;
    -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -webkit-transform 1s;
    -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,-o-transform 1s;
}

.hidden {
    background-color: transparent;
    border-color: 2px solid blue;
}

.boxCommon {
    position:absolute;
}

.closeButton {
    display: none; /* hide the easyApp's close button because we have our own */
}

.thumbCommon {
    z-index:2;
    box-shadow: 5px 5px 5px #000000;
}

.mutedCheckbox {
    float: left;
    margin-left:25px;
}


#controlArea {
    background-color: #ff8000;
}

body {
    background-color:#363636;
    margin-left:0px;
    margin-top:0px;
}


#killButton {
    opacity:0.7;
}

#killButton:hover {
    opacity:1.0;
}

#muteButton {
    opacity:0.7;
}

#muteButton:hover {
    opacity:1.0;
}

#textentryBox {
    border:2px solid #a0ffa0;
    border-radius:10px;
    z-index:5;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #000000;
    font-family: 'Courier New',Courier,monospace;
}

#textentryField {
    font-size:x-large;
    margin: 20px;
}

#textentrySubmit {
    font-size:larger;
}

#textentryCancel {
    font-size:larger;
}

#controlBlock {
    float: right;
    background-color: #fdfdfd;
}

#leaveRoomButton {
    margin-top:5px;
    margin-bottom: 10px;
    float:right;
}

#fileDrop {
    float: left;
    width:90%;
    /*text-align:center;*/
    border: 2px solid #a8a8a8;
    margin-left:5%;
    margin-bottom: 20px;
    margin-top: 25px;
    padding-top:0%;
    background-color: #e7e7e7;
}

#fileDropText {
    width:80%;
    margin-left:10%;
    text-align:center;
    opacity:0.6;
}

#fileDropImage {
    width:50%;
    height: 50%;
    margin-top: 20%;
    margin-bottom:20%;
    margin-left:25%;
    margin-right: 25%;
    opacity:0.2;
}

button {
    background-color: #d84a38;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0.5em 0.7em 0.6em 0.7em;
}
    
button:active {
    background-color: #cf402f;
}
    
button:hover {
    background-color: #cf402f;
}
    
button[disabled] {
    color: #ccc;
}
    
button[disabled]:hover {
    background-color: #d84a38;
}

button {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
}
  
button:last-of-type {
    margin: 0;
}

#playButton {
    width:50%;
    margin-left:25%;
    margin-top: 10px;
}
