
.transit {
    transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, transform 1s;
    -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -webkit-transform 1s;
    -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,-o-transform 1s;
}

.hidden {
    background-color: transparent;
    border-color: 2px solid blue;
}

.boxCommon {
    position:absolute;
}

.closeButton {
    display: none; /* hide the easyApp's close button because we have our own */
}

.thumbCommon {
    z-index:2;
    box-shadow: 5px 5px 5px #000000;
}

.mutedCheckbox {
    float: left;
    margin-left:25px;
}


#controlArea {
    background-color: #ff8000;
}

body {
    background-color:#363636;
    margin-left:0px;
    margin-top:0px;
}


#killButton {
    opacity:0.7;
}

#killButton:hover {
    opacity:1.0;
}

#muteButton {
    opacity:0.7;
}

#muteButton:hover {
    opacity:1.0;
}

#mobileMapPanel {
    border:2px solid #01B468;
    border-radius:10px;
    z-index:5;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #000000;
}

#mobileMap {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0px;
    border-radius:0px 0px 10px 10px;
}

#trackYourself {
    position: absolute;
    font-size: 1.0em;
    width: 85%;
    height: 40px;
    top:10px;
    left: 15px;
}

#mobileControlPanel {
    border:2px solid #7B7B7B;
    border-radius:10px;
    z-index:5;
    position: absolute;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 5px #000000;
}

#textentryBox {
    border:2px solid #a0ffa0;
    border-radius:10px;
    z-index:5;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #000000;
    font-family: 'Courier New',Courier,monospace;
}

#textentryField {
    font-size:x-large;
    margin: 20px;
}

#textentrySubmit {
    font-size:larger;
}

#textentryCancel {
    font-size:larger;
}

#controlBlock {
    float: right;
    background-color: #fafafa;
}

#mobileControlBlock {
    background-color: #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 0;
}

#closeMobileControlButton {
    position: absolute;
    background-color:#FF5151;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    width: 60px;
    height: 30px;
    top: 7px;
    right: 7px;
}

#mobileControlFieldset {
    position: absolute;
    width: 82%;
    height: 65%;
    top: 38px;
    left: 5%;
    border-radius: 10px;
}


#taskP {
    position: absolute;
    font-size: 1.2em;
    width: 100%;
    height: 25px;
    top:15px;
    left: 10%;
}

#mobileTaskNameText {
    position: absolute;
    width: 60%;
    height: 20px;
}

#mobileLeaveRoomButton {
    position: absolute;
    background-color:#FF9224;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    width: 90%;
    height: 40px;
    bottom: 15px;
    left: 5%;
}

#showMobileControlButton {
    position: absolute;
    background-color:#7B7B7B;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 130px;
    height: 38px;
    top: 6px;
    left: 12px;
}

#showMobileMapButton {
    position: absolute;
    background-color: #01B468;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 110px;
    height: 38px;
    top: 6px;
    right: 12px;
}

#leaveRoomButton {
    margin-top:5px;
    margin-bottom: 10px;
    float:right;
}

#map {
    height: 500px;
    float: right;
    background-color: grey;
    margin-bottom: 2px;
}

#taskNameDiv {
    clear: both;
    font-size: 1.2em;
    width: 220px;
    height: 25px;
    margin-left:15px;
    margin-bottom: 10px;
}

#taskNameText {
    position: absolute;
    font-size: 0.8em;
    width: 160px;
    height: 18px;
}

#connectControls {
    float:left;
    width:180px;
    text-align:center;
    border: 2px solid #535353;
    margin-left:15px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#otherClients {
    height:110px;
    overflow-y:scroll;
}

#mutedControls {
    float:left;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
}

#mutedUsers {
    height:140px;
}

#recordButtons {
    float:left;
    width:350px;
    margin-top:10px;
    margin-bottom: 20px;
    margin-left:10px;
}

#openVideoManagerButton {
    float:left;
    margin-top:15px;
    margin-bottom: 5px;
    margin-left:10px;
}
